body{
	background: #000000;
	text-align: center;
	margin-right: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-top: 3%;
	page: auto;
}
.Boton{
	width: 100px;
	height: 100px;
	background: #99ddcc;
	position: absolute;
	float: left;
}

div.Fondo{
	background: #ffffff;
	position: absolute;
	width: 90%;
	height: 600px;
	left: 50%;
	margin-left: -45%;
}

div.Borde{
	background: #99dd33;
	width: 20px;
	height: 530px;
	position: absolute;
}
div.contenedorMenu{	
	background: #ffffff;
	position: absolute;
	width: 90%;
	height: 400px;
	left: 50%;
	margin-left: -45%;
	background: aqua;
	top: 5%; 
}
header{
	background: #337766;
	width: 100%;
	height: 70px;
}
