body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.encabezado {
	/*Falta agregqar el formato*/	
}

.tabla label {
	/*font*/ 
	
}
.tblPoliza{
	width: 100%;
	position: relative;
	text-align: left;	
}

#fdsMovimientos{
	width: inherit;
}

td.txtImporte, #fdsMovimientos input.txtImporte{
	width: 15%;
	position: inherit;
	text-align: left;
}

td.txtAccountN, #fdsMovimientos input.txtAccountN{
	width: 20%;
	position: inherit;
	text-align: left;
}

td.txtConcept, #fdsMovimientos input.txtConcept{
	width: 45%;
	position: inherit;
	text-align: left;
}
.divCenter {
	width: auto;
	text-align: center;
	background-color: rgb(141, 191, 166);
	margin: 3%;
}
