@CHARSET "ISO-8859-1";
#h1Saludo{
	font-size: x-large;
	font-family: sans-serif;
	font-style: oblique;
	color: #337766;
}
nav, ul, li, a  {
	margin: 0; 
	padding: 0;
}

a {
	text-decoration: none;
}

body{
	background: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, footer{
	background: #337766;
	margin: 0;
}

section{
	background: #ffffff;
	height: 400px;
	margin: 0;
	text-align: center;
}

#Encabezado{
	background: #ffffff;
	width: 100%;
}

#Marco{
	background: #99ff00;
	width: 15px;
	height: 400px;
	position: absolute;
	margin: 0 auto;
}

#Centro{
	width: 100%;
	height: 100%;
	position: inherit;
	text-align: left;
	margin: inherit;
	padding: 5%;
}

table#tbl{
	margin: 0 auto;
}

