.titulo{
	position: absolute;
	font-family: sans-serif, Arial, Helvetica;
	text-align: center;
	width: 90%;
	left: 50%;
	margin-left: -45%;
}

.container{
	font-family: sans-serif;
	position: absolute;
	width: 90%;
	height: 100%;
	top: 30%;
	left: 50%;
	margin-left: -45%;
	z-index: 1;
}

.activo{
	position: absolute;
	width: 35%;
	left: 10%;
	z-index: 2;
}

.pasivo{
	position: absolute;
	width: 35%;
	right: 10%;
	z-index: 2;
}

.grande{
	background-color: red;
}

table{
	width: 100%;
}

.cuenta{
	text-align: left;
}

.saldo{
	text-align: right;
}